@(connectedUser: models.User)

<div class="menu">
    <div class="branding">
        <a class="logo" href="/" rel="home">Sticlute</a>
    </div>
    <div class="hsmenu">
        <nav class="cbp-hsmenu-wrapper">
            <div class="cbp-hsinner">
                <ul class="cbp-hsmenu">
                    <li>
                        <a href="/">Colectie</a>
                        <ul class="cbp-hssubmenu cbp-hssub-rows">
                            <li>
                                <a href="/">
                                    <img src="@routes.Assets.at(" images/wine.png ")" alt="Vin" />
                                    <span>Vin</span>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <img src="@routes.Assets.at(" images/whiskey.png ")" alt="Whiskey" />
                                    <span>Whiskey</span>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <img src="@routes.Assets.at(" images/bourbon.png ")" alt="Bourbon" />
                                    <span>Bourbon</span>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <img src="@routes.Assets.at(" images/scotch.png ")" alt="Scotch" />
                                    <span>Scotch</span>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <img src="@routes.Assets.at(" images/cognac.png ")" alt="Cognac" />
                                    <span>Cognac</span>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <img src="@routes.Assets.at(" images/brandy.png ")" alt="Brandy" />
                                    <span>Brandy</span>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <img src="@routes.Assets.at(" images/gin.png ")" alt="Gin" />
                                    <span>Gin</span>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <img src="@routes.Assets.at(" images/rom.png ")" alt="Rom" />
                                    <span>Rom</span>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <img src="@routes.Assets.at(" images/tequila.png ")" alt="Tequila" />
                                    <span>Tequila</span>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <img src="@routes.Assets.at(" images/vodka.png ")" alt="Vodka" />
                                    <span>Vodka</span>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <img src="@routes.Assets.at(" images/liquor.png ")" alt="Liquor" />
                                    <span>Liquor</span>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <img src="@routes.Assets.at(" images/altele.png ")" alt="Altele" />
                                    <span>Altele</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/">Favorite</a>
                    </li>
                    <li>
                        <a href="/">Linkuri</a>
                    </li>
                    <li>
                        <a href="/">Contact</a>
                    </li>
                    @if(connectedUser.connected) {
                    <li>
                        <a href="/">Administrare</a>
                    </li>
                    }
                </ul>
            </div>
        </nav>
    </div>
</div>