@font-face {
    font-family: "Across the Road";
    src: url("fonts/Across the Road.ttf");
}
@font-face {
    font-family: "Cabin";
    src: url("fonts/Cabin-Regular.otf");
    font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: "Cabin";
    src: url("fonts/Cabin-Italic.otf");
    font-weight: normal;
	font-style: italic;
}
@font-face {
    font-family: "Cabin";
    src: url("fonts/Cabin-Bold.otf");
    font-weight: bold;
	font-style: normal;
}
@font-face {
    font-family: "Cabin";
    src: url("fonts/Cabin-BoldItalic.otf");
    font-weight: bold;
	font-style: italic;
}
@font-face {
    font-family: "Cabin";
    src: url("fonts/Cabin-Regular.otf");
    font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: "Cabin";
    src: url("fonts/Cabin-Regular.otf");
    font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'socicon';
    src: url('fonts/socicon-webfont.eot');
    src: url('fonts/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/socicon-webfont.woff') format('woff'),
         url('fonts/socicon-webfont.woff2') format('woff2'),
         url('fonts/socicon-webfont.ttf') format('truetype'),
         url('fonts/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?i6iqih');
	src:url('fonts/icomoon.eot?#iefixi6iqih') format('embedded-opentype'),
		url('fonts/icomoon.woff?i6iqih') format('woff'),
		url('fonts/icomoon.ttf?i6iqih') format('truetype'),
		url('fonts/icomoon.svg?i6iqih#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}



*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body,
html {
    font-family: "Cabin";
	font-size: 16px;
	line-height: 1.2;
	-webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
}
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.top:before, .top:after,
.menu:before, .menu:after {
    content: " ";
    display: table;
}
.top:after, .menu:after {
    clear: both;
}
.top {
    position: relative;
    padding-bottom: 2px;
    z-index: 1;
    background: rgba(250, 237, 254, 0.7); /* #FAEDFE */
    /* height: 30px; */
    border-top: 5px solid #de61fd;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.top-inner {
    padding: 3px 20px 0px 24px;
    position: relative;
    max-width: 1360px;
    margin: 0 auto;
}

.Login {
    margin: 3px 0px 0px 5px;
    width: 70px;
    float: right;
    /*background: rgba(255, 255, 0, 0.4);*/
}
.login-warpper {
     /*padding-top: 5px;*/ 
}
.login-warpper a {
    display: block;
    width: 70px;
    height: 28px;
    text-align: center;
    padding-top: 3px;
    color: #de61fd;
    text-decoration: none;
    /* Transitions */
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;    
}
.login-warpper a:hover {
    background: #de61fd;
    color: #FAEDFE;
}
.login-warpper a span {
    font-family: initial;
	font-size: 20px;
	line-height: 1;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}
.search-connect {
    margin: 3px 0px 0px 5px;
    width: 290px;
    height: 28px;
    float: right;
    overflow: hidden;
    /*background: rgba(255, 255, 0, 0.4);*/
}
.ct-icon-search:before {
    font-family: "icomoon";
    font-size: 18px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.ct-icon-search:before{
    color: #FAEDFE;
    content: "\e986";
}
.ct-search {
	position: relative;
	float: right;
	width: 28px;
	height: 28px;
	z-index: 100000;
}
.ct-search-input-wrap {
	position: absolute;
	right: 28px;
	height: 28px;
	width: 0;
	overflow: hidden;
	-webkit-transition: width 200ms;
	-moz-transition: width 200ms;
	transition: width 200ms;
}
.ct-search.ct-search-open .ct-search-input-wrap {
	width: 262px;
}

.ct-icon-search,
input[type="submit"].ct-search-submit  {
	width: 28px;
	height: 28px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	line-height: 33px;
	text-align: center;
	cursor: pointer;
}
.ct-icon-search {
    background: #de61fd;
	color: #fff;
	z-index: 90;
}
.ct-search.ct-search-open .ct-icon-search{
    background: #de61fd;
	color: #fff;
	z-index: 1;
	pointer-events: none;
}
input[type="submit"].ct-search-submit {
	background: transparent;
	color: transparent;
	box-shadow: none;
	border: none;
	padding: 0;
	border-radius: 0;
	outline: none;
	z-index: -1;
}
.ct-search.ct-search-open input[type="submit"].ct-search-submit {
	z-index: 90;
}
input[type="text"].ct-search-input {
	border: 1px solid #de61fd;
	outline: none;
	opacity: 0;
	background: rgba(250, 237, 254, 0.9); /* #FAEDFE */
	width: 100%;
	height: 28px;
	margin: 0;
	padding: 2px 7px;
}
.ct-search.ct-search-open input[type="text"].ct-search-input {
	opacity: 1;
}
::-webkit-input-placeholder {
	color: #999999;
}
:-moz-placeholder {
	color: #999999;
}
::-moz-placeholder {
	color: #999999;
}
:-ms-input-placeholder {
	color: #999999;
}
.connect {
    width: 250px;
    float: right;
    margin: 0;
    padding: 0px;
    padding-top: 5px;
    height: 27px;
    list-style: none;
}
.connect li {
    float: left;
}
.connect li a {
    display: block;
	width: 25px;
	height: 20px;
	margin: 0px 6px;
    padding: 0;
	position: relative;
	text-align: center;
    color: #694B73;
    text-decoration: none;
    /* Transitions */
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}
.connect li a span {
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	display: none;
}
.connect-icon {
  /*color: #de61fd;*/
  font-family: 'socicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*padding-top: 6px;*/
}
.connect-icon-hover:hover {
  color: #de61fd;
}
.connect-icon-feed:before {
    color: rgba(242, 97, 9, 0.2); /* #f26109; */
    content: ",";
    /* Transitions */
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}
/*.connect-icon-feed:hover:before {
    color: #de61fd;
}*/
.connect-icon-email:before {
    color: #e6af17;
    content: "@";
    /* Transitions */
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}
.connect-icon-email:hover:before {
    color: #de61fd;
}
.connect-icon-twitter:before {
    color: #4da7de;
    content: "a"; 
     /* Transitions */
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}
.connect-icon-twitter:hover:before {
    color: #de61fd;
}
.connect-icon-facebook:before {
    color: #3e5b98;
    content: "b";
     /* Transitions */
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}
.connect-icon-facebook:hover:before {
    color: #de61fd;
}
.connect-icon-google-plus:before {
    color: #d93e2d;
    content: "c";
    /* Transitions */
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}
.connect-icon-google-plus:hover:before {
    color: #de61fd;
}
.connect-icon-github:before {
    color: #5f5f5f; /* #221e1b; */
    content: "Q";
    /* Transitions */
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}
.connect-icon-github:hover:before {
    color: #de61fd;
}
.top-logo-text {
    font-family: "Across the Road";
	font-weight: 500;
	font-style: normal;
	font-size: 28px;
    letter-spacing:2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: left;
    width: 185px;
}
.menu {
    position: relative;
    z-index: 1;
    background: #de61fd;
    /* height: 30px; */
}
.menu-inner {
    padding: 1px 20px 0px 20px;
    position: relative;
    max-width: 1360px;
    margin: 0 auto;
}
.branding {
    position: relative;
    float: left;
}
.branding a {
    display: block;
    width: 190px;
    height: 70px;
    text-decoration: none; 
}
.branding a img {
    position: absolute;
    left: 0;
    top: 0;
     /* Transitions */
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
}
.branding a img.top-logo {
    opacity: 0;
}
.branding a img.top-logo:hover {
    opacity: 1;
}
.branding a span {
    display: none;
}
.hsmenu {
    position: relative;
    float: left;
}