@(title: String, connectedUser: models.User)(content: Html)
<!DOCTYPE html>
<html>

<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
</head>

<body>
    <header class="top">
        <!-- zona de login -->
        @parts.login(connectedUser)
        <!-- social media si search -->
        <div>
            <div class="search">
                <form>
                    <div class="search-input-wrap">
                        <input class="search-input" placeholder="Cauta sticluta..." type="text" value="" name="s" id="s">
                    </div>
                    <input class="search-submit" type="submit" id="go" value="">
                    <span class="search-icon"></span>
                </form>
            </div>
            <ul class="connect">
                <li>
                    <a class="connect-icon-feed" href=""><span>Rss Feed</span></a>
                </li>
                <li>
                    <a class="connect-icon-email" href=""><span>Email Updates</span></a>
                </li>
                <li>
                    <a class="connect-icon-twitter" href=""><span>Sticlute pe Twitter</span></a>
                </li>
                <li>
                    <a class="connect-icon-facebook" href=""><span>Sticlute pe Facebook</span></a>
                </li>
                <li>
                    <a class="connect-icon-google-plus" href=""><span>Sticlute pe Google+</span></a>
                </li>
                <li>
                    <a class="connect-icon-githib" href=""><span>Sticlute pe GitHub</span></a>
                </li>
            </ul>
        </div>
        <!-- Un text -->
        <div><span>Colectie de miniaturi</span>
        </div>
    </header>
    
    <!-- meniul -->
    @parts.menu(connectedUser)

    <div class="container">
        @content
    </div>

    <footer class="bottom">
        mickyshor.ro
    </footer>
</body>

</html>